.menuContainer {
  width: 25em;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lavender;
}

.menuHeader {
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin-top: .5em;
}

.menuCategory {
  display: flex;
  flex-direction: row;
  margin: 1.5em;
}

.menuCategory:hover {
  background-color: yellow;
}

.menuItemName {
  color: black;
}

img {
  height: 20px;
  width: 20px;
  margin-right: .3em;
}
