.articleBlock {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 10px;
}

.articlePic {
  height: 200px;
  width: 400px;
}

.articleHeader {
  background-color: white;
  font-weight: bold;
  height: 75px;
  padding: 1.5em 0 1em 0;
}

.articleDescription {
  background-color: white;
  height: 100px;
  overflow: scroll;
}

.articleUrl {
  background-color: lavender;
}
